body{
    background-color: yellow;
    background-image: url(walpaper.jpg);
    /*no-repeat,round,space,repeat */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;

}
img{
    width: 50%;
    height: 500px;
}
